body {
    background-image: url(./img/background.png);
}

label {
    display: inline;
}
input[type='checkbox'] {
    margin-right: 4px;
}

.title {
    text-transform: uppercase;
}

.task {
    font-style: italic;
}